<!-- <h1>{{ title }}</h1> -->
<!-- <app-inline></app-inline> -->
<!-- <app-str-directive></app-str-directive> -->
<!-- <app-attr-directive></app-attr-directive> -->
<!-- <app-attr-custom></app-attr-custom> -->
<!-- <app-parent></app-parent> -->
<!-- <app-pipes></app-pipes> -->
<!-- <p>P in app</p>
<h3>h3 in app</h3>
<h4>h4 in app</h4>
<app-view-parent></app-view-parent>
<app-binding></app-binding> -->
<!-- Enter Name: <input type="text" #message (keyup)="(0)" /> <br />

<app-lifecycle [parentData]="title"></app-lifecycle> -->

<!-- <app-course-parent></app-course-parent> -->
<!-- <app-course-multi-parent></app-course-multi-parent> -->
<app-temp-form></app-temp-form>
